api_key: <api_key_here>                # DD API key: required.
#
# site: datadoghq.com                  # DD Site you wish to submit to: US(datadoghq.com)[default] or EU(datadoghq.eu)
#                                      #       - US (default): datadoghq.com
#                                      #       - EU (default): datadoghq.eu
#
# dd_url: https://app.datadoghq.com    # DD URL submissiont override. You shouldn't need to change this.
#
# log_level: info                      # Log level - available levels: critical, error, warning, info, debug
#
# proxy:
#     http: http://localhost:3128     # should you wish to setup a proxy for your agent, please do
#     https: http://localhost:3128    # do so here.
