init_config:
  # this check has no init_config

instances:
  # just an instance name to enable the check
  - name: lparstats

    # sudo: false  # run command with sudo, will require adding `dd-agent` to the sudoers file
