{%- set agent = status.get('agent', {}) %}
{%- set collector = status.get('collector', {}) %}
{%- set forwarder = status.get('forwarder', {}) %}
{%- set dogstatsd = status.get('dogstatsd', {}) %}
{{ '='*"DataDog Unix Agent (v{})".format(version)|length }}
DataDog Unix Agent (v{{ version }})
{{ '='*"DataDog Unix Agent (v{})".format(version)|length }}

  Pid: {{ status.get('pid') }}
  Python Version: {{ status.get('python_version')  }}
  Log Level: {{ status.get('log_level') }}

Host Info
=========
  Hostname: {{ status.get('hostname') }}
  Hostname (collected): {{ status.get('hostname_native') }}

Clock
=====
  Agent uptime: {{ status.get('uptime') }}s
  System UTC time: {{ status.get('utc_time') }}

Configuration
=============
  Agent Config: {{ status.get('agent_config_path')  }}
  Agent Logs: {{ status.get('agent_log_path') }}

Running Checks
==============
{% if agent.get('info', {}).get('checks', {})|length > 0 -%}
{% for instance_id, stats in agent.get('info', {}).get('checks', {}).items()|sort(attribute='1.check_name') %}
  {{ stats.get('check_name', 'unknown') }}
  {{ '-'*stats.get('check_name', 'unknown')|length }}
    Instance ID: {{ instance_id }}
    Configuration Source: file:{{ stats.get('config_source', 'unknown') }}[{{ stats.get('instance_index', 0) }}]
    Total Runs: {{ "{:,}".format(stats.get('total_runs', 0)) }}
    Metric Samples: Last Run: {{ stats.get('metrics', 0) }}
    Events: Last Run: {{ stats.get('events', 0) }}
    Service Checks: Last Run: {{ stats.get('service_checks', 0) }}
    Average Execution Time: {{ stats.get('avg_execution_time_ms', 0)|int }}ms
    Last Execution Date: {{ stats.get('last_execution', 'Never') }}
{% endfor -%}
{% else -%}
  There are currently no running checks.
{% endif -%}
{% for check, errors in collector.get('info').get('errors').get('runtime', {}).items() %}
  - {{ check }}
    {{ '-'*check|length }}
    {% for instance, error in errors.items() -%}
    instance ({{ instance }}):

        Error: {{ error.get('message') }}

        {{ error.get('traceback', '')|indent(width=10) -}}
    {% endfor -%}
{% endfor %}

Aggregator
==========
  Checks Metric Sample: {{ "{:,}".format(agent.get('stats', {}).get('metrics_total', 0)) }}
  Event: {{ "{:,}".format(agent.get('stats', {}).get('events', 0)) }}
  Events Flushed: {{ "{:,}".format(agent.get('stats', {}).get('events_total', 0)) }}
  Service Check: {{ "{:,}".format(agent.get('stats', {}).get('service_checks', 0)) }}
  Service Checks Flushed: {{ "{:,}".format(agent.get('stats', {}).get('service_checks_total', 0)) }}
  Series Flushed: {{ "{:,}".format(agent.get('stats', {}).get('metrics_total', 0)) }}

{% if collector.get('info').get('errors').get('loader', {})|length > 0 -%}
Errors
======
{% for check, errors in collector.get('info').get('errors').get('loader', {}).items() %}
  - {{ check }}
    {{ '-'*check|length }}
    {% for loader, error in errors.items() -%}
      {{ loader }}: {{ error }}
    {% endfor -%}
{%- endfor %}
{%- endif %}

Forwarder
=========
  Submitted Series Payloads: {{ "{:,}".format(forwarder.get('stats', {}).get('series_payloads', 0)) }}
  Submitted Intake Payloads: {{ "{:,}".format(forwarder.get('stats', {}).get('intake_payloads', 0)) }}
  Submitted Service Check Payloads: {{ "{:,}".format(forwarder.get('stats', {}).get('service_check_payloads', 0)) }}
  Transactions Submitted: {{ "{:,}".format(forwarder.get('stats', {}).get('transactions_success', 0)) }}
  Transactions Rescheduled: {{ "{:,}".format(forwarder.get('stats', {}).get('transactions_rescheduled', 0)) }}
  Full Queue Errors: {{ "{:,}".format(forwarder.get('stats', {}).get('queue_full_errors', 0)) }}

{% if dogstatsd|length > 0 %}
Dogstatsd
=========
  Dogstatsd Metric Sample: {{ "{:,}".format(dogstatsd.get('stats', {}).get('metrics', 0)) }}
  Event: {{ "{:,}".format(dogstatsd.get('stats', {}).get('events', 0)) }}
  Service Check: {{ "{:,}".format(dogstatsd.get('stats', {}).get('service_checks', 0)) }}
  Packet: {{ "{:,}".format(dogstatsd.get('stats', {}).get('packets', 0)) }}
  Total Metric Count: {{ "{:,}".format(dogstatsd.get('stats', {}).get('metrics_total', 0)) }}
  Total Event Count: {{ "{:,}".format(dogstatsd.get('stats', {}).get('events_total', 0)) }}
  Total Service Check Count: {{ "{:,}".format(dogstatsd.get('stats', {}).get('service_checks_total', 0)) }}
  Total Packet Count: {{ "{:,}".format(dogstatsd.get('stats', {}).get('packets_total', 0)) }}
{% endif %}

API Key Status
==============
  API Key ending in {{ status.get('redacted_api') }}: {{ status.get('api_status') }}

